absl-py==2.1.0
astunparse==1.6.3
blas==1.0
brotli==1.1.0
brotli-bin==1.1.0
brotli-python==1.0.9
bzip2==1.0.8
ca-certificates==2024.9.24
cairo==1.16.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
contourpy==1.3.1
cuda-cccl==12.6.77
cuda-cccl_win-64==12.6.77
cuda-cudart==12.4.127
cuda-cudart-dev==12.4.127
cuda-cupti==12.4.127
cuda-libraries==12.4.1
cuda-libraries-dev==12.4.1
cuda-nvrtc==12.4.127
cuda-nvrtc-dev==12.4.127
cuda-nvtx==12.4.127
cuda-opencl==12.6.77
cuda-opencl-dev==12.6.77
cuda-profiler-api==12.6.77
cuda-runtime==12.4.1
cuda-version==12.6
cvzone==1.6.1
cycler==0.12.1
cytoolz==0.12.2
dask-core==2024.8.2
decorator==4.4.2
deep-sort-realtime==1.3.2
eigen==3.4.0
expat==2.6.4
ffmpeg==4.2.2
filelock==3.13.1
filterpy==1.4.5
flatbuffers==24.3.25
fontconfig==2.14.1
fonttools==4.55.0
freetype==2.12.1
fsspec==2024.6.1
future==1.0.0
giflib==5.2.2
glib==2.78.4
glib-tools==2.78.4
gmpy2==2.1.2
google-pasta==0.2.0
graphite2==1.3.14
grpcio==1.68.0
gst-plugins-base==1.22.3
gstreamer==1.22.3
h5py==3.12.1
harfbuzz==4.3.0
hdf5==1.12.1
icc_rt==2022.1.0
icu==73.2
idna==3.10
imagecodecs-lite==2019.12.3
imageio==2.36.0
imageio-ffmpeg==0.5.1
imgviz==1.7.5
importlib-metadata==7.0.1
intel-openmp==2023.1.0
jinja2==3.1.4
joblib==1.4.2
jpeg==9e
kiwisolver==1.4.7
krb5==1.20.1
labelme==5.2.1
lap==0.4.0
lapx==0.5.11
lazy_loader==0.4
lcms2==2.12
lerc==3.0
libabseil==20240116.2
libblas==3.9.0
libbrotlicommon==1.1.0
libbrotlidec==1.1.0
libbrotlienc==1.1.0
libcblas==3.9.0
libclang==18.1.1
libclang13==14.0.6
libcublas==12.4.5.8
libcublas-dev==12.4.5.8
libcufft==11.2.1.3
libcufft-dev==11.2.1.3
libcurand==10.3.7.77
libcurand-dev==10.3.7.77
libcusolver==11.6.1.9
libcusolver-dev==11.6.1.9
libcusparse==12.3.1.170
libcusparse-dev==12.3.1.170
libdeflate==1.17
libexpat==2.6.4
libffi==3.4.4
libglib==2.78.4
libiconv==1.17
libjpeg-turbo==2.0.0
liblapack==3.9.0
libnpp==12.2.5.30
libnpp-dev==12.2.5.30
libnvfatbin==12.6.77
libnvfatbin-dev==12.6.77
libnvjitlink==12.4.127
libnvjitlink-dev==12.4.127
libnvjpeg==12.3.1.117
libnvjpeg-dev==12.3.1.117
libogg==1.3.5
libpng==1.6.39
libpq==17.0
libprotobuf==4.25.3
libtiff==4.5.1
libuv==1.48.0
libvorbis==1.3.7
libwebp==1.3.2
libwebp-base==1.3.2
libxml2==2.13.1
locket==1.0.0
loguru==0.7.2
lz4-c==1.9.4
m2w64-gcc-libgfortran==5.3.0
m2w64-gcc-libs==5.3.0
m2w64-gcc-libs-core==5.3.0
m2w64-gmp==6.1.0
m2w64-libwinpthread-git==5.0.0.4634.697f757
markdown==3.7
markdown-it-py==3.0.0
markupsafe==3.0.2
matplotlib-base==3.9.2
mdurl==0.1.2
mkl==2023.1.0
mkl-service==2.4.0
mkl_fft==1.3.11
mkl_random==1.2.8
moviepy==1.0.3
mpc==1.1.0
mpfr==4.0.2
mpir==3.0.0
mpmath==1.3.0
msys2-conda-epoch==20160418
munkres==1.1.4
namex==0.0.8
natsort==7.1.1
networkx==3.2.1
numpy==2.0.2
numpy-base==1.26.4
opencv==4.10.0
opencv-python==4.10.0.84
openjpeg==2.5.2
openssl==3.4.0
opt-einsum==3.4.0
optree==0.13.1
packaging==24.2
pandas==2.2.3
partd==1.4.1
patsy==1.0.1
pcre2==10.42
pillow==11.0.0
pip==24.2
pixman==0.43.4
proglog==0.1.10
psutil==6.1.0
py-cpuinfo==9.0.0
pygame==2.6.1
pyglet==1.5.27
pygments==2.18.0
pyparsing==3.2.0
pysocks==1.7.1
python==3.10.15
python-dateutil==2.9.0.post0
python-tzdata==2024.2
python_abi==3.10
pytorch==2.5.1
pytorch-cuda==12.4
pytorch-mutex==1.0
pytz==2024.1
pywavelets==1.7.0
pyyaml==6.0.2
qhull==2020.2
qt-main==5.15.2
qtpy==2.4.1
requests==2.32.3
rich==13.9.4
scikit-image==0.20.0
scikit-learn==1.5.1
scipy==1.14.1
seaborn==0.13.2
seaborn-base==0.13.2
setuptools==75.1.0
shapely==2.0.6
six==1.16.0
sort-tracker-py==1.0.2
sqlite==3.45.3
statsmodels==0.14.4
sympy==1.13.1
tbb==2021.8.0
tensorflow==2.18.0
termcolor==2.1.0
threadpoolctl==3.2.0
torch==2.5.1
torchmetrics==0.11.0
torchvision==0.20.1
torchaudio==2.5.1
tqdm==4.67.0
typing-extensions==4.7.1
uricompose==1.0.0
urllib3==2.4.4
wcwidth==0.2.6
x264==0.164.3069
xorg-libx11==1.6.9
xorg-libxext==1.3.7
yaml==0.2.5
zlib==1.2.13
zstd==1.5.2
